@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;600;700&family=Quicksand:wght@400;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

/* check grid  */
.checkout-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.co-left-con {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
    width: 750px;
}

.co-left-con h1 {
    line-height: 0px;
}

.co-left-con p {
    line-height: 0px;
    margin: 0px;
}


/* inputs  */
/* try grid  */
.co-input-con {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.co-firstname-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.co-firstname-input input {
    padding: 13px 16px;
    width: 490px;
    border-radius: 6px;
    border: 2px dashed #000;
    background: #FFF;
    outline: none;
}

.co-lastname-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.co-lastname-input input {
    padding: 13px 16px;
    width: 490px;
    border-radius: 6px;
    border: 2px dashed #000;
    background: #FFF;
    outline: none;
}

.co-cardtype-select {
    width: 525px;
    border-radius: 6px;
    border: 2px dashed #000;
    background: #FFF;
    padding: 13px 16px;
    outline: none;
}

.co-cardinfo-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* card number  */
.co-cardnumber-con {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-weight: 700;
    font-size: 16px;
}

.co-cardnumber-con input {
    padding: 13px 16px;
    width: 490px;
    border-radius: 6px;
    border: 2px dashed #000;
    background: #FFF;
    outline: none;
}

/* ccv  */
.co-ccv-con {
    display: flex;
    flex-direction: column;
    width: 60px;
    padding: 13px 16px;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
}

.co-ccv-con input {
    border-radius: 6px;
    border: 2px dashed #000;
    background: #FFF;
    width: 60px;
    padding: 13px 16px;
}

/* expire  */
.co-expire-con {
    display: flex;
    flex-direction: column;
    width: 60px;
    padding: 13px 16px;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
}

.co-expire-con input {
    border-radius: 6px;
    border: 2px dashed #000;
    background: #FFF;
    padding: 13px 16px;
    width: 88px;
}

.co-expire-con label {
    width: 88px;
}

/* other  */
.co-other-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.co-zip-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.co-zip-con label {
    font-weight: 700;
    font-size: 16px;
}

.co-zip-con input {
    width: 208px;
    padding: 13px 16px;
    border-radius: 6px;
    border: 2px dashed #000;
    background: #FFF;
}

.co-city-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.co-city-con label {
    font-weight: 700;
    font-size: 16px;
}

.co-city-con input {
    border-radius: 6px;
    border: 2px dashed #000;
    background: #FFF;
    width: 440px;
    padding: 13px 16px;
}

.co-country-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.co-country-con label {
    font-size: 16px;
    font-weight: 700;
}

.co-country-con input {
    width: 490px;
    padding: 13px 16px;
    border-radius: 6px;
    border: 2px dashed #000;
    background: #FFF;
}

/* right hand side  */
.co-right-con {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
    width: 483px;
    height: 714px;
}

.co-item-con {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 500px;
}

.co-item-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #D9D9D9;
    padding: 12px;
    width: 431px;
    transition: all ease-in-out .1s;
}

.co-item-card:hover {
    box-shadow: 0px 20px 60px 0px rgba(55, 66, 80, 0.13);
    transition: all ease-in-out .1s;
}

.co-card-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item-card-img {
    width: 72px;
    height: 72px;
    border-radius: 8px;
    background: #FFF;
}

.co-column-two h1 {
    font-size: 14px;
    font-weight: 700;
}

.co-item-size {
    padding: 4px 6px;
    background-color: #ffffff;
    border-radius: 6px;
    width: 24px;
    font-weight: 700;
    cursor: pointer;
}

.co-item-size:hover {
    background-color: #F05365;
    color: #FFF;
}

.co-column-three {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.co-item-delete {
    font-size: 24px;
    /* width: 24px;
    height: 24px; */
    border-radius: 24px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 2px;
    cursor: pointer;
}

.co-checkout-btn {
    border-radius: 6px;
    background: #3B86CC;
    box-shadow: 0px 6px 10px -12px rgba(30, 34, 57, 0.35);
    outline: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #FFF;
    font-size: 16px;
    padding: 9px 183px;
    position: relative;
    top: 0px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.co-checkout-btn:hover {
    transform: scale(1.05);
    transition: all ease-in-out .2s;
}