.productPageCard-con {
    width: 300px;
    height: 460px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 0px 10px;
}

.productPageCard-img {
    height: 450px;
    overflow: hidden;
    opacity: 0.3;
}

.productPageCard-img img {
    position: relative;
    top: -40px;
}

.productPageCard-content {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    width: 100%;
    /* background-color: aqua; */
    height: 300px;
}

.productPageCard-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productPageCard-info h1 {
    margin: 0;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
}

.productPageCard-info h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.productPageCard-info p {
    margin: 5px 0px;
    text-align: start;
    text-transform: capitalize;
}

.productPageCard-buttons {
    display: flex;
    gap: 20px;
    padding: 20px 10px;
}